<nav class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="images/hbs-logo.png">
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item has-background-primary has-text-white" href="/about">
        About
      </a>
      <div class="navbar-item pl-6"></div>
    </div>
  </nav>