<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<%- include("partials/_head.ejs")%>

<body>
	<%- include("partials/_navbar.ejs")%>
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">Flowchart explaining the smil generation process</h1>
			<figure class="image is-inline-block has-text-centered">
				<img src="/images/HBSaeneasTransparent2.svg" alt="Flowchart">
			</figure>
		</div>
	</div>
</body>

</html>