<!DOCTYPE html>
<html>
<%- include("partials/_head.ejs")%>

<body>
	<%- include("partials/_navbar.ejs")%>
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">Links</h1>
			<div class="field">
				<div class="control pb-2">
					<div class="tags has-addons is-centered">
						<span class="tag is-dark">HBS-FTA</span>
						<span class="tag is-primary"><a class="has-text-white"
								href="https://github.com/Sanctusz/HBS-Full-Text-Automation">https://github.com/Sanctusz/HBS-Full-Text-Automation</a></span>
					</div>
				</div>
				<div class="control pb-2">
					<div class="tags has-addons is-centered">
						<span class="tag is-dark">Aeneas</span>
						<span class="tag is-primary"><a class="has-text-white"
								href="https://www.readbeyond.it/aeneas">https://www.readbeyond.it/aeneas</a></span>
					</div>
				</div>
				<div class="control pb-2">
					<div class="tags has-addons is-centered">
						<span class="tag is-dark">Daisy Pipeline 2</span>
						<span class="tag is-primary"><a class="has-text-white"
								href="https://daisy.github.io/pipeline/Get-Help/User-Guide">https://daisy.github.io/pipeline/Get-Help/User-Guide</a></span>
					</div>
				</div>
				<div class="control pb-2">
					<div class="tags has-addons is-centered">
						<span class="tag is-dark">Hindenburg</span>
						<span class="tag is-primary"><a class="has-text-white"
								href="https://hindenburg.com">https://hindenburg.com</a></span>
					</div>
				</div>
				<div class="control pb-2">
					<div class="tags has-addons is-centered">
						<span class="tag is-dark">Publisher</span>
						<span class="tag is-primary"><a class="has-text-white"
								href="https://yourdolphin.com/products/organisation/publisher">https://yourdolphin.com/products/organisation/publisher</a></span>
					</div>
				</div>
				<div class="control pb-2">
					<div class="tags has-addons is-centered">
						<span class="tag is-dark">Thorium Reader</span>
						<span class="tag is-primary"><a class="has-text-white"
								href="https://github.com/edrlab/thorium-reader/releases">https://github.com/edrlab/thorium-reader/releases</a></span>
					</div>
				</div>
			</div>
			<div class="field">
				<h1 class="title">Flowchart explaining the smil generation process</h1>
				<figure class="image is-inline-block has-text-centered">
					<img src="/images/HBSaeneasTransparentUpdated.svg" alt="Flowchart">
				</figure>
			</div>
			<div class="field pt-6">
				<h1 class="title">Flowchart explaining the converting process</h1>
				<figure class="image is-inline-block has-text-centered">
					<img src="/images/HBSconvertTransparent.svg" alt="Flowchart">
				</figure>
			</div>
		</div>
	</div>
</body>

</html>