<!DOCTYPE html>
<html>
<%- include("partials/_head.ejs")%>

<body>
	<%- include("partials/_navbar.ejs")%>
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="field">
				<h1 class="title">Flowchart explaining the smil generation process</h1>
				<figure class="image is-inline-block has-text-centered">
					<img src="/images/HBSaeneasTransparent2.svg" alt="Flowchart">
				</figure>
			</div>
			<div class="field pt-6">
				<h1 class="title">Flowchart explaining the converting process</h1>
				<figure class="image is-inline-block has-text-centered">
					<img src="/images/HBSconvertTransparent.svg" alt="Flowchart">
				</figure>
			</div>
		</div>
	</div>
</body>

</html>