<!DOCTYPE html>
<html>
<%- include("partials/_head.ejs")%>

<body>
  <%- include("partials/_navbar.ejs")%>
  <section class="hero is-halfheight">
    <div class="hero-body">
      <div class="container">
        <div class="field">
          <h1 class="title has-text-centered pb-3">Convert Daisy 2.02 to Epub 3</h1>
        </div>
        <%- include("partials/_uploader.ejs", { action:'convert' }) %>
      </div>
    </div>
  </section>
  <%- include("partials/_deleter.ejs") %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="javascript/upload.js"></script>
  <script src="javascript/delete_files.js"></script>
</body>

</html>