<!DOCTYPE html>
<html>
<%- include("partials/_head.ejs")%>

<body>
  <section class="hero is-halfheight">
    <div class="hero-body">
      <div class="container">
        <div class="field">
          <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
            <div id="upload-files" class="file is-centered is-boxed is-primary has-name is-large">
              <label class="file-label">
                <input class="file-input" type="file" name="uploads" accept=".html, .mp3" multiple="multiple" hidden>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Upload files here...
                  </span>
                </span>
                <span class="file-name has-text-centered">
                  You can also drag and drop!
                  <!-- TODO in the future -->
                </span>
              </label>
            </div>
            <div class="columns pt-5 is-centered">
              <div class="column is-half">
                <progress class="progress progress-bar is-primary is-medium" value="0" max="100">0%</progress>
              </div>
            </div>
            <!-- upload.js automatically submits the form when files input changes -->
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <% if (zip_files.length != 0) { %>
      <% for(var i = 0; i < zip_files.length; i++) { %>
      <a href="output/<%= zip_files[i].filename %>" class="box has-background-primary has-text-white">
        <nav class="level">
          <div class="level-left">
            <div class="level-item"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="level-item">
              <p><%= zip_files[i].filename %></p>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <p><%= new Date(zip_files[i].date).toLocaleString() %></p>
            </div>
          </div>
        </nav>
      </a>
      <%}%>
        <%}%>
    </div>
  </section>
  <script src="javascript/upload.js"></script>
    
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    socket.on('newdata', function(d){
      // Do something with the data
      console.log(d);
    })
  </script>
</body>

</html>