<!DOCTYPE html>
<html>
<%- include("partials/_head.ejs")%>

<body>
  <section class="hero is-halfheight">
    <div class="hero-body">
      <div class="container">
        <div class="field">
          <div class="file is-centered is-boxed is-primary has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Upload files here...
                </span>
              </span>
              <span class="file-name">
                HBS Temporary
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <% if (zip_files.length != 0) { %>
      <% for(var i = 0; i < zip_files.length; i++) { %>
      <a href="output/<%=zip_files[i]%>" class="box has-background-primary has-text-white">
        <p><%=zip_files[i]%></p>
      </a>
      <%}%>
        <%}%>
    </div>
  </section>
</body>

</html>